<a href="https://colab.research.google.com/github/rohitkhadka1/SocialHoneyPotAnalyzer/blob/main/Twitter_User_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Git installation in Colab
!apt-get install git
!git clone https://github.com/rohitkhadka1/SocialHoneyPotAnalyzer.git
%cd SocialHoneyPotAnalyzer

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
git is already the newest version (1:2.34.1-1ubuntu1.12).
0 upgraded, 0 newly installed, 0 to remove and 49 not upgraded.
Cloning into 'SocialHoneyPotAnalyzer'...
remote: Enumerating objects: 17, done.
remote: Counting objects: 100% (17/17), done.
remote: Compressing objects: 100% (16/16), done.
remote: Total 17 (delta 7), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (17/17), 45.73 KiB | 5.72 MiB/s, done.
Resolving deltas: 100% (7/7), done.
/content/SocialHoneyPotAnalyzer

In [2]:
!ls

LICENSE  README.md  Twitter_User_Analysis.ipynb

In [3]:
!mv /Twitter_User_Analysis.ipynb

mv: missing destination file operand after '/Twitter_User_Analysis.ipynb'
Try 'mv --help' for more information.

In [4]:
!cd Twitter_User_Analysis.ipynb

/bin/bash: line 1: cd: Twitter_User_Analysis.ipynb: Not a directory

In [5]:
#import necessary libraries
import numpy as np
import pandas as pd

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
df_polluter_users = pd.read_csv("/content/drive/MyDrive/social_honeypot_icwsm_2011/content_polluters.txt",
                  sep = "\t",
                  names = ['UserID', "Created at", "Collected at", "Number of followings", "Number of followers", "Number of Tweets", "Length of Screen Name", "LengthOfDescriptionInUserProfile"],
                  header = None)
df_polluter_users['UserType'] = "Polluter"

In [8]:
print(df_polluter_users.shape)
df_polluter_users.head()

(22223, 9)

,UserID,Created at,Collected at,Number of followings,Number of followers,Number of Tweets,Length of Screen Name,LengthOfDescriptionInUserProfile,UserType
0,6301,2006-09-18 01:07:50,2010-01-17 20:38:25,3269,3071,861,8,132,Polluter
1,10836,2006-10-27 14:38:04,2010-06-18 03:35:34,1949,793,226,9,134,Polluter
2,10997,2006-10-29 09:50:38,2010-04-24 01:12:40,1119,9644,38674,12,158,Polluter
3,633293,2007-01-14 12:40:10,2010-01-24 11:59:38,2174,6029,12718,11,121,Polluter
4,717883,2007-01-27 22:14:18,2010-02-06 06:25:58,7731,7029,873,6,70,Polluter

In [9]:
df_polluter_following = pd.read_csv("/content/drive/MyDrive/social_honeypot_icwsm_2011/content_polluters_followings.txt",
                  sep = "\t",
                  header = None,
                  names = ["UserID", "Series of number of Following"])

In [10]:
print(df_polluter_following.shape)

df_polluter_following.head()

(22223, 2)

   UserID                      Series of number of Following
0    6301  3269,3310,3339,3381,3351,3323,3305,3275,3245,3...
1   10836  1949,1963,1963,1963,1963,1963,1963,1962,1961,1...
2   10997  1119,1119,999,999,1050,1170,1071,799,799,799,8...
3  633293  2174,2651,2676,2674,2673,2673,2673,2672,2672,2...
4  717883  7731,7737,7737,7741,7741,7741,7740,7740,7749,7...

In [11]:
df_polluters_tweets = pd.read_csv("/content/drive/MyDrive/social_honeypot_icwsm_2011/content_polluters_tweets.txt",
                  sep = "\t",
                  header = None,
                  names = ['UserID', 'TweetID', 'Tweet', 'CreatedAt'])

In [12]:
print(df_polluters_tweets.shape)
df_polluters_tweets.head()

(2333691, 4)

,UserID,TweetID,Tweet,CreatedAt
0,6301,5599519501,MELBOURNE ENQUIRY: Seeking a variety of acts f...,2009-11-10 15:14:31
1,6301,5600313663,THE BURLESQUE BOOTCAMP SYDNEY - Open Date tick...,2009-11-10 15:46:05
2,6301,5600328557,THE BURLESQUE BOOTCAMP SYDNEY - Open Date tick...,2009-11-10 15:46:40
3,6301,5600338093,THE BURLESQUE BOOTCAMP SYDNEY - Open Date tick...,2009-11-10 15:47:03
4,6301,5600564863,"Come to ""The Burlesque Bootcamp - Sydney"" Satu...",2009-11-10 15:56:03

In [13]:
df_polluters_tweets['Tweet'][0]

'MELBOURNE ENQUIRY: Seeking a variety of acts for our end of year show. Payment is $120 per slot or $200 for 2.... http://bit.ly/4Ah3fF'

In [14]:
df_legitimate_users = pd.read_csv("/content/drive/MyDrive/social_honeypot_icwsm_2011/legitimate_users.txt",
                  sep ="\t",
                  header = None,
                  names = ["UserID", "Created at", "Collected at", "Number of followings", "Number of followers", "Number of Tweets", "Length of Screen Name", "LengthOfDescriptionInUserProfile"])

df_legitimate_users['UserType'] = "Legitimate"

In [15]:
print(df_legitimate_users.shape)
df_legitimate_users.head()

(19276, 9)

,UserID,Created at,Collected at,Number of followings,Number of followers,Number of Tweets,Length of Screen Name,LengthOfDescriptionInUserProfile,UserType
0,614,2006-07-13 15:30:05,2009-11-20 23:56:21,510,350,3265,10,34,Legitimate
1,1038,2006-07-15 16:12:15,2009-11-16 05:12:11,304,443,4405,7,156,Legitimate
2,1437,2006-07-16 12:29:24,2009-11-16 16:25:12,45,73,725,6,37,Legitimate
3,2615,2006-07-19 23:23:55,2009-11-27 18:34:36,211,230,211,7,0,Legitimate
4,3148,2006-07-26 14:17:22,2009-11-20 17:35:18,7346,7244,11438,8,97,Legitimate

In [16]:
df_legitimate_following = pd.read_csv("/content/drive/MyDrive/social_honeypot_icwsm_2011/legitimate_users_followings.txt",
                  sep = "\t",
                  header = None,
                  names = ["UserID", "Series of number of Following"])

In [17]:
print(df_legitimate_following.shape)
df_legitimate_following.head()

(19276, 2)

   UserID                      Series of number of Following
0     614  664,664,664,665,665,665,665,665,665,665,665,66...
1    1038  378,378,378,378,378,378,378,378,378,378,378,37...
2    1437  59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,5...
3    2615  262,262,262,262,262,262,262,262,262,262,264,26...
4    3148  5238,5238,5238,5238,5238,5238,5238,5238,5238,5...

In [18]:
df_legitimate_tweets = pd.read_csv("/content/drive/MyDrive/social_honeypot_icwsm_2011/legitimate_users_tweets.txt",
                  sep = "\t",
                  header = None,
                  names = ['UserID', 'TweetID', 'Tweet', 'CreatedAt'])

In [19]:
print(df_legitimate_tweets.shape)
df_legitimate_tweets.info()

(3246377, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3246377 entries, 0 to 3246376
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   UserID     int64
 1   TweetID    int64
 2   Tweet      object
 3   CreatedAt  object
dtypes: int64(2), object(2)
memory usage: 99.1+ MB

In [55]:
# df_users = df_polluter_users.merge(df_legitimate_users, on = "UserID", how = "inner")
df_users =  pd.concat([df_polluter_users, df_legitimate_users], axis = 0)
print(f"Shape(Users): {df_users.shape}")
print(f"Shape(Legitimate): {df_legitimate_users.shape}")
print(f"Shape(Polluter): {df_polluter_users.shape}")
print(f"Unique Users: {df_users['UserID'].nunique()}")
df_users = df_users.drop_duplicates(subset = ['UserID'])
print(f"Unique Users after removing duplicates: {df_users['UserID'].nunique()}")

Shape(Users): (41499, 9)
Shape(Legitimate): (19276, 9)
Shape(Polluter): (22223, 9)
Unique Users: 41455
Unique Users after removing duplicates: 41455

In [65]:
df_users["Created at"] = pd.to_datetime(df_users["Created at"])
df_users["Collected at"] = pd.to_datetime(df_users["Collected at"])
df_users["Account Age"] = df_users["Collected at"] - df_users["Created at"]
#In days
df_users["Account Age"] = df_users["Account Age"].dt.days
df_users["Account Age"].sample(n = 10)

11145    146
21098     32
164      961
1403     561
15189     85
15105      1
16201    135
7511     100
10256     56
17009     17
Name: Account Age, dtype: int64

In [66]:
df_users.isnull().sum()

UserID                              0
Created at                          0
Collected at                        0
Number of followings                0
Number of followers                 0
Number of Tweets                    0
Length of Screen Name               0
LengthOfDescriptionInUserProfile    0
UserType                            0
Account Age                         0
dtype: int64

In [67]:
df_users.head()

,UserID,Created at,Collected at,Number of followings,Number of followers,Number of Tweets,Length of Screen Name,LengthOfDescriptionInUserProfile,UserType,Account Age
0,6301,2006-09-18 01:07:50,2010-01-17 20:38:25,3269,3071,861,8,132,Polluter,1217
1,10836,2006-10-27 14:38:04,2010-06-18 03:35:34,1949,793,226,9,134,Polluter,1329
2,10997,2006-10-29 09:50:38,2010-04-24 01:12:40,1119,9644,38674,12,158,Polluter,1272
3,633293,2007-01-14 12:40:10,2010-01-24 11:59:38,2174,6029,12718,11,121,Polluter,1105
4,717883,2007-01-27 22:14:18,2010-02-06 06:25:58,7731,7029,873,6,70,Polluter,1105

In [68]:
df_users['UserType'].value_counts()

UserType
Polluter      22223
Legitimate    19232
Name: count, dtype: int64

In [56]:
df_following = pd.concat([df_polluter_following, df_legitimate_following], axis = 0)
print(f"Shape(Users Following): {df_following.shape}")
print(f"Shape(Legitimate Following): {df_legitimate_following.shape}")
print(f"Shape(Polluter Following): {df_polluter_following.shape}")
print(f"Unique Users: {df_following['UserID'].nunique()}")
df_following = df_following.drop_duplicates(subset = ['UserID'])
print(f"Unique Users after removing duplicates: {df_following['UserID'].nunique()}")

Shape(Users Following): (41499, 2)
Shape(Legitimate Following): (19276, 2)
Shape(Polluter Following): (22223, 2)
Unique Users: 41455
Unique Users after removing duplicates: 41455

In [69]:
df_following.isnull().sum()

UserID                           0
Series of number of Following    0
dtype: int64

In [70]:
df_following.head()

   UserID                      Series of number of Following
0    6301  3269,3310,3339,3381,3351,3323,3305,3275,3245,3...
1   10836  1949,1963,1963,1963,1963,1963,1963,1962,1961,1...
2   10997  1119,1119,999,999,1050,1170,1071,799,799,799,8...
3  633293  2174,2651,2676,2674,2673,2673,2673,2672,2672,2...
4  717883  7731,7737,7737,7741,7741,7741,7740,7740,7749,7...

In [71]:
df_tweets = pd.concat([df_polluters_tweets, df_legitimate_tweets], axis = 0)
print(f"Shape(Tweets): {df_tweets.shape}")
print(f"Shape(Legitimate Tweets): {df_legitimate_tweets.shape}")
print(f"Shape(Polluters Tweets): {df_polluters_tweets.shape}")
print(f"Unique Users: {df_tweets['UserID'].nunique()}")
print(f"Unique Tweet IDs: {df_tweets['TweetID'].nunique()}")
# df_tweets = df_tweets.drop_duplicates(subset = ['TweetID'])
# print(f"Unique Users after removing duplicates: {df_tweets['UserID'].nunique()}")
df_tweets.sample(n = 10)

Shape(Tweets): (5580068, 4)
Shape(Legitimate Tweets): (3246377, 4)
Shape(Polluters Tweets): (2333691, 4)
Unique Users: 39853
Unique Tweet IDs: 5579357

,UserID,TweetID,Tweet,CreatedAt
280761,19824444,7825755531,God wisely designed the human body so that we ...,2010-01-16 07:08:09
28742,2276201,5768934593,Kill me .......,2009-11-16 10:27:43
1377771,93047996,7546971088,Create Professional Quality Beats With Zero Sk...,2010-01-08 23:06:54
1559692,36940615,4615732663,TRUFFFFF TOE someone get fast willie parker a ...,2009-10-04 19:25:45
2094088,134063909,12556341570,hi! im playing at pokerstars the http://bit.ly...,2010-04-20 22:50:09
219791,14292295,1592981400,stupid seagulls,2009-04-23 05:03:54
1582045,101167047,7571960372,is good to the last drop.,2010-01-09 16:50:20
1236883,86098891,17345496926,"New Benny Benassi video featuring Kelis, apl.d...",2010-06-29 11:29:41
466164,29280682,8374525729,Stolen Twitter Accounts Can Fetch $1000 http:/...,2010-01-29 10:41:41
1332366,30817204,5763368701,Bass Monsters @ Club La Gazette http://bit.ly/...,2009-11-16 06:11:41

In [61]:
df_tweets.isnull().sum()
df_tweets = df_tweets.dropna()
df_tweets.isnull().sum()

UserID       0
TweetID      0
Tweet        0
CreatedAt    0
dtype: int64

In [44]:
df_merged = df_users.merge(df_following, on = "UserID", how = "left")
print(df_merged.shape)
df = df_merged.merge(df_tweets, on = "UserID", how = "left")
df.shape

(41587, 10)

(5629733, 13)

In [27]:
# Git commit
# !git add .
# !git status
# !git commit - m "Git through colab, merge changes"
# !git push origin main

In [28]:
# !git add Twitter_User_Analysis.ipynb

In [29]:
# !git config user.email "rohitkhadka153@gmail.com"
# !git config user.name "Rohit Khadka"

In [30]:
# !git commit -m "Updated Twitter_User_Analysis.ipynb"
# !git push origin main

In [45]:
df.sample(n=10)

,UserID,Created at,Collected at,Number of followings,Number of followers,Number of Tweets,Length of Screen Name,LengthOfDescriptionInUserProfile,UserType,Series of number of Following,TweetID,Tweet,CreatedAt
2690506,15375921,2008-07-10 05:04:02,2009-11-14 02:41:00,70,100,788,12,46,Legitimate,"75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,7...",4.549293e+09,@nthingpersonal Gumana yata sun dance ko ah!,2009-10-02 04:53:02
4903480,64119853,2009-08-09 00:41:08,2009-11-16 05:23:42,1869,2558,13881,15,112,Legitimate,"3132,3287,3427,3482,3548,3594,3594,3594,3592,3...",7.564786e+09,"The hand more instrumental to the mouth,",2010-01-09 12:30:01
1676588,104842684,2010-01-14 09:32:38,2010-04-26 01:49:45,783,372,335,8,123,Polluter,"783,753,753,753,753,753,753,753,753,753,753,75...",8.952050e+09,Beatty to take new job in Atlanta http://bit.l...,2010-02-11 01:37:58
358438,22497365,2009-03-02 09:59:30,2010-01-29 15:26:36,1312,1234,201,8,140,Polluter,"1312,1312,1312,1312,1312,1312,1312,1312,1312,1...",3.841786e+09,@Merna_Throne thanks for the follow. This is m...,2009-09-08 10:13:57
5345493,79330257,2009-10-02 19:36:42,2009-11-13 09:29:42,108,84,403,7,46,Legitimate,"106,106,106,106,106,106,106,106,106,106,106,10...",5.199604e+09,,2009-10-27 07:55:13
4392049,48689504,2009-06-19 07:17:00,2009-11-24 03:38:30,78,72,1447,8,77,Legitimate,"120,120,120,120,121,121,122,122,122,122,122,12...",5.713120e+09,,2009-11-14 11:07:45
5260619,76257871,2009-09-22 00:18:17,2009-11-25 01:06:27,140,387,8128,6,60,Legitimate,"142,142,142,142,142,142,142,142,142,142,142,14...",6.000681e+09,WUSSUP NEW FOLLOWerS,2009-11-23 23:56:48
1260644,86258362,2009-10-30 02:01:57,2010-07-04 12:53:58,480,99,921,13,77,Polluter,"480,480,480,480,483,483,475,475,475,475,475,47...",1.647116e+10,Unyuunyu .. Wkwk. RT @bhamiro Cocok jadi pacar...,2010-06-18 08:44:44
262213,19257231,2009-01-20 15:02:42,2010-01-20 11:59:59,2195,2012,1881,14,29,Polluter,"2211,2211,2211,2211,2211,2211,2211,2211,2211,2...",7.414600e+09,"quoted from Heroes last night ""No buried treas...",2010-01-05 14:39:00
2526368,12343592,2008-01-16 21:07:55,2009-11-21 00:56:44,140,145,9446,7,31,Legitimate,"210,211,210,210,211,210,210,210,210,210,210,21...",5.843899e+09,972http://2chcop...,2009-11-18 19:16:18

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5629733 entries, 0 to 5629732
Data columns (total 13 columns):
 #   Column                            Dtype
---  ------                            -----
 0   UserID                            int64
 1   Created at                        object
 2   Collected at                      object
 3   Number of followings              int64
 4   Number of followers               int64
 5   Number of Tweets                  int64
 6   Length of Screen Name             int64
 7   LengthOfDescriptionInUserProfile  int64
 8   UserType                          object
 9   Series of number of Following     object
 10  TweetID                           float64
 11  Tweet                             object
 12  CreatedAt                         object
dtypes: float64(1), int64(6), object(6)
memory usage: 558.4+ MB

In [48]:
uniqueIDs = df['UserID'].nunique()
uniqueIDs

41455

In [49]:
df.nunique()

UserID                                41455
Created at                            41429
Collected at                          41390
Number of followings                   5458
Number of followers                    5588
Number of Tweets                       7427
Length of Screen Name                    14
LengthOfDescriptionInUserProfile        181
UserType                                  2
Series of number of Following         38538
TweetID                             5579357
Tweet                               5138904
CreatedAt                           4232660
dtype: int64

In [50]:
df.isnull().sum()

UserID                                 0
Created at                             0
Collected at                           0
Number of followings                   0
Number of followers                    0
Number of Tweets                       0
Length of Screen Name                  0
LengthOfDescriptionInUserProfile       0
UserType                               0
Series of number of Following          0
TweetID                             1602
Tweet                               1610
CreatedAt                           1602
dtype: int64

In [36]:
df = df.dropna()

In [37]:
df.isnull().sum()

UserID                              0
Created at                          0
Collected at                        0
Number of followings                0
Number of followers                 0
Number of Tweets                    0
Length of Screen Name               0
LengthOfDescriptionInUserProfile    0
UserType                            0
Series of number of Following       0
TweetID                             0
Tweet                               0
CreatedAt                           0
dtype: int64

In [51]:
df["Created at"] = pd.to_datetime(df["Created at"])
df["Collected at"] = pd.to_datetime(df["Collected at"])
df["Account Age"] = df["Collected at"] - df["Created at"]
#In days
df["Account Age"] = df["Account Age"].dt.days
df["Account Age"].sample(n = 10)

5552028     24
1819860     22
1113319     93
889553     351
612747     246
791111     180
4324047    162
5059782     90
5426278     42
3633665    221
Name: Account Age, dtype: int64

In [39]:
X = df.drop(columns = ["CreatedAt", "UserType", "UserID", "Created at", "Collected at"])
X.sample(n = 10)

,Number of followings,Number of followers,Number of Tweets,Length of Screen Name,LengthOfDescriptionInUserProfile,Series of number of Following,TweetID,Tweet,Account Age
5175700,18,8,267,8,0,"21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,2...",4350029222,"@somebodyloving Mysl, e si ho nevzal? No ne...",63
157440,24302,23175,112589,14,155,"24302,24379,24378,24377,24374,24363,24367,2439...",8717296352,New Blog Post: Tri-pepper supplement can help ...,478
4647746,210,340,2982,7,9,"263,263,263,263,263,262,262,262,262,262,262,26...",5645056144,@dasoni ..,126
5496382,149,84,935,13,128,"879,879,879,879,879,879,879,879,879,879,879,87...",5653009466,SONY ERICSSON XPERIA X2 (Elegant Black) Smartp...,20
578953,9193,8654,5004,12,51,"9193,9317,9316,9316,9317,9317,9312,9309,9290,9...",7075773411,By Far The Best Twitter Software http://bit.ly...,245
4284391,84,57,695,10,3,"96,96,96,96,96,96,96,96,96,96,96,96,96,96,96,9...",5572026840,"Voltando pra casa, nao fui com a cara da profe...",172
2422877,323,516,7325,7,104,"382,382,382,382,382,382,382,382,382,382,382,38...",5669196520,@brian_frank listening to that show now!,923
568722,2153,1957,194,14,75,"2153,2152,2048,2117,2166,2169,2172,2173,2172,2...",6665892750,Still Looking for Canucks vs. Kings tickets? G...,374
3712863,118,275,2903,9,0,"106,106,106,106,106,106,106,106,106,106,106,10...",5756992840,"Entah ni, kl ga today ya tumoro deh.. Ym me ur...",220
1774868,3674,3377,978,13,60,"3674,3726,3724,3724,3724,3724,3724,3724,3723,3...",11498660075,I am proud of the fact that I never invented w...,63

In [40]:
y = df['UserType']
y.sample(n = 10)

378272       Polluter
3324350    Legitimate
4634919    Legitimate
3946706    Legitimate
4669589    Legitimate
1350170      Polluter
3214558    Legitimate
2615032    Legitimate
2922026    Legitimate
3272836    Legitimate
Name: UserType, dtype: object

In [41]:
!pip install googletrans==3.1.0a0

Collecting googletrans==3.1.0a0
  Downloading googletrans-3.1.0a0.tar.gz (19 kB)
  Preparing metadata (setup.py) ... done
Collecting httpx==0.13.3 (from googletrans==3.1.0a0)
  Downloading httpx-0.13.3-py3-none-any.whl.metadata (25 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.11/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2024.12.14)
Collecting hstspreload (from httpx==0.13.3->googletrans==3.1.0a0)
  Downloading hstspreload-2025.1.1-py3-none-any.whl.metadata (2.1 kB)
Requirement already satisfied: sniffio in /usr/local/lib/python3.11/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (1.3.1)
Collecting chardet==3.* (from httpx==0.13.3->googletrans==3.1.0a0)
  Downloading chardet-3.0.4-py2.py3-none-any.whl.metadata (3.2 kB)
Collecting idna==2.* (from httpx==0.13.3->googletrans==3.1.0a0)
  Downloading idna-2.10-py2.py3-none-any.whl.metadata (9.1 kB)
Collecting rfc3986<2,>=1.3 (from httpx==0.13.3->googletrans==3.1.0a0)
  Downloading rfc3986-1.5.0-py2.py3-none-any.whl.metadata (6.5 kB)
Collecting httpcore==0.9.* (from httpx==0.13.3->googletrans==3.1.0a0)
  Downloading httpcore-0.9.1-py3-none-any.whl.metadata (4.6 kB)
Collecting h11<0.10,>=0.8 (from httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0)
  Downloading h11-0.9.0-py2.py3-none-any.whl.metadata (8.1 kB)
Collecting h2==3.* (from httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0)
  Downloading h2-3.2.0-py2.py3-none-any.whl.metadata (32 kB)
Collecting hyperframe<6,>=5.2.0 (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0)
  Downloading hyperframe-5.2.0-py2.py3-none-any.whl.metadata (7.2 kB)
Collecting hpack<4,>=3.0 (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0)
  Downloading hpack-3.0.0-py2.py3-none-any.whl.metadata (7.0 kB)
Downloading httpx-0.13.3-py3-none-any.whl (55 kB)
    55.1/55.1 kB 4.9 MB/s eta 0:00:00
Downloading chardet-3.0.4-py2.py3-none-any.whl (133 kB)
    133.4/133.4 kB 11.5 MB/s eta 0:00:00
Downloading httpcore-0.9.1-py3-none-any.whl (42 kB)
    42.6/42.6 kB 4.0 MB/s eta 0:00:00
Downloading idna-2.10-py2.py3-none-any.whl (58 kB)
    58.8/58.8 kB 4.5 MB/s eta 0:00:00
Downloading h2-3.2.0-py2.py3-none-any.whl (65 kB)
    65.0/65.0 kB 6.4 MB/s eta 0:00:00
Downloading rfc3986-1.5.0-py2.py3-none-any.whl (31 kB)
Downloading hstspreload-2025.1.1-py3-none-any.whl (1.3 MB)
    1.3/1.3 MB 62.5 MB/s eta 0:00:00
Downloading h11-0.9.0-py2.py3-none-any.whl (53 kB)
    53.6/53.6 kB 4.4 MB/s eta 0:00:00
Downloading hpack-3.0.0-py2.py3-none-any.whl (38 kB)
Downloading hyperframe-5.2.0-py2.py3-none-any.whl (12 kB)
Building wheels for collected packages: googletrans
  Building wheel for googletrans (setup.py) ... done
  Created wheel for googletrans: filename=googletrans-3.1.0a0-py3-none-any.whl size=16352 sha256=6ee0accd33984ccfe6ed28fdea550be146ab4cda9aaaf9c14b070ae456441fc5
  Stored in directory: /root/.cache/pip/wheels/81/f2/e0/d578821d723b473d18610ea93810e4a5402463919f07e603d9
Successfully built googletrans
Installing collected packages: rfc3986, hyperframe, hpack, h11, chardet, idna, hstspreload, h2, httpcore, httpx, googletrans
  Attempting uninstall: h11
    Found existing installation: h11 0.14.0
    Uninstalling h11-0.14.0:
      Successfully uninstalled h11-0.14.0
  Attempting uninstall: chardet
    Found existing installation: chardet 5.2.0
    Uninstalling chardet-5.2.0:
      Successfully uninstalled chardet-5.2.0
  Attempting uninstall: idna
    Found existing installation: idna 3.10
    Uninstalling idna-3.10:
      Successfully uninstalled idna-3.10
  Attempting uninstall: httpcore
    Found existing installation: httpcore 1.0.7
    Uninstalling httpcore-1.0.7:
      Successfully uninstalled httpcore-1.0.7
  Attempting uninstall: httpx
    Found existing installation: httpx 0.28.1
    Uninstalling httpx-0.28.1:
      Successfully uninstalled httpx-0.28.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
openai 1.59.6 requires httpx<1,>=0.23.0, but you have httpx 0.13.3 which is incompatible.
langsmith 0.2.10 requires httpx<1,>=0.23.0, but you have httpx 0.13.3 which is incompatible.
Successfully installed chardet-3.0.4 googletrans-3.1.0a0 h11-0.9.0 h2-3.2.0 hpack-3.0.0 hstspreload-2025.1.1 httpcore-0.9.1 httpx-0.13.3 hyperframe-5.2.0 idna-2.10 rfc3986-1.5.0

In [42]:
#import necessary libraries
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler
from googletrans import Translator
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk
import string
import re

In [43]:
Translator = Translator()
df['Tweet'] = df['Tweet'].apply(lambda x: Translator.translate(x, dest = 'en').text)
df['Tweet'].sample(n = 10)
# nltk.download('punkt')
# nltk.download('stopwords')
# nltk.download('wordnet')
# nltk.download('omw-1.4')

KeyboardInterrupt: