<a href="https://colab.research.google.com/github/rohitkhadka1/SocialHoneyPotAnalyzer/blob/main/Twitter_User_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
#Git installation in Colab
!apt-get install git
!git clone https://github.com/rohitkhadka1/SocialHoneyPotAnalyzer.git
%cd SocialHoneyPotAnalyzer

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
git is already the newest version (1:2.34.1-1ubuntu1.12).
0 upgraded, 0 newly installed, 0 to remove and 49 not upgraded.
Cloning into 'SocialHoneyPotAnalyzer'...
remote: Enumerating objects: 11, done.
remote: Counting objects: 100% (11/11), done.
remote: Compressing objects: 100% (10/10), done.
remote: Total 11 (delta 3), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (11/11), 21.72 KiB | 10.86 MiB/s, done.
Resolving deltas: 100% (3/3), done.
/content/SocialHoneyPotAnalyzer

In [54]:
!ls

LICENSE  README.md  Twitter_User_Analysis.ipynb

In [60]:
!mv /Twitter_User_Analysis.ipynb

mv: missing destination file operand after '/Twitter_User_Analysis.ipynb'
Try 'mv --help' for more information.

In [3]:
!cd Twitter_User_Analysis.ipynb

/bin/bash: line 1: cd: Twitter_User_Analysis.ipynb: No such file or directory

In [55]:
#import necessary libraries
import numpy as np
import pandas as pd

In [56]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [57]:
df_polluter_users = pd.read_csv("/content/drive/MyDrive/social_honeypot_icwsm_2011/content_polluters.txt",
                  sep = "\t",
                  names = ['UserID', "Created at", "Collected at", "Number of followings", "Number of followers", "Number of Tweets", "Length of Screen Name", "LengthOfDescriptionInUserProfile"],
                  header = None)
df_polluter_users['UserType'] = "Polluter"

In [7]:
print(df_polluter_users.shape)
df_polluter_users.head()

(22223, 9)

,UserID,Created at,Collected at,Number of followings,Number of followers,Number of Tweets,Length of Screen Name,LengthOfDescriptionInUserProfile,UserType
0,6301,2006-09-18 01:07:50,2010-01-17 20:38:25,3269,3071,861,8,132,Polluter
1,10836,2006-10-27 14:38:04,2010-06-18 03:35:34,1949,793,226,9,134,Polluter
2,10997,2006-10-29 09:50:38,2010-04-24 01:12:40,1119,9644,38674,12,158,Polluter
3,633293,2007-01-14 12:40:10,2010-01-24 11:59:38,2174,6029,12718,11,121,Polluter
4,717883,2007-01-27 22:14:18,2010-02-06 06:25:58,7731,7029,873,6,70,Polluter

In [8]:
df_polluter_following = pd.read_csv("/content/drive/MyDrive/social_honeypot_icwsm_2011/content_polluters_followings.txt",
                  sep = "\t",
                  header = None,
                  names = ["UserID", "Series of number of Following"])

In [9]:
print(df_polluter_following.shape)

df_polluter_following.head()

(22223, 2)

   UserID                      Series of number of Following
0    6301  3269,3310,3339,3381,3351,3323,3305,3275,3245,3...
1   10836  1949,1963,1963,1963,1963,1963,1963,1962,1961,1...
2   10997  1119,1119,999,999,1050,1170,1071,799,799,799,8...
3  633293  2174,2651,2676,2674,2673,2673,2673,2672,2672,2...
4  717883  7731,7737,7737,7741,7741,7741,7740,7740,7749,7...

In [10]:
df_polluters_tweets = pd.read_csv("/content/drive/MyDrive/social_honeypot_icwsm_2011/content_polluters_tweets.txt",
                  sep = "\t",
                  header = None,
                  names = ['UserID', 'TweetID', 'Tweet', 'CreatedAt'])

In [11]:
print(df_polluters_tweets.shape)
df_polluters_tweets.head()

(2333691, 4)

,UserID,TweetID,Tweet,CreatedAt
0,6301,5599519501,MELBOURNE ENQUIRY: Seeking a variety of acts f...,2009-11-10 15:14:31
1,6301,5600313663,THE BURLESQUE BOOTCAMP SYDNEY - Open Date tick...,2009-11-10 15:46:05
2,6301,5600328557,THE BURLESQUE BOOTCAMP SYDNEY - Open Date tick...,2009-11-10 15:46:40
3,6301,5600338093,THE BURLESQUE BOOTCAMP SYDNEY - Open Date tick...,2009-11-10 15:47:03
4,6301,5600564863,"Come to ""The Burlesque Bootcamp - Sydney"" Satu...",2009-11-10 15:56:03

In [12]:
df_polluters_tweets['Tweet'][0]

'MELBOURNE ENQUIRY: Seeking a variety of acts for our end of year show. Payment is $120 per slot or $200 for 2.... http://bit.ly/4Ah3fF'

In [13]:
df_legitimate_users = pd.read_csv("/content/drive/MyDrive/social_honeypot_icwsm_2011/legitimate_users.txt",
                  sep ="\t",
                  header = None,
                  names = ["UserID", "Created at", "Collected at", "Number of followings", "Number of followers", "Number of Tweets", "Length of Screen Name", "LengthOfDescriptionInUserProfile"])

df_legitimate_users['UserType'] = "Legitimate"

In [14]:
print(df_legitimate_users.shape)
df_legitimate_users.head()

(19276, 9)

,UserID,Created at,Collected at,Number of followings,Number of followers,Number of Tweets,Length of Screen Name,LengthOfDescriptionInUserProfile,UserType
0,614,2006-07-13 15:30:05,2009-11-20 23:56:21,510,350,3265,10,34,Legitimate
1,1038,2006-07-15 16:12:15,2009-11-16 05:12:11,304,443,4405,7,156,Legitimate
2,1437,2006-07-16 12:29:24,2009-11-16 16:25:12,45,73,725,6,37,Legitimate
3,2615,2006-07-19 23:23:55,2009-11-27 18:34:36,211,230,211,7,0,Legitimate
4,3148,2006-07-26 14:17:22,2009-11-20 17:35:18,7346,7244,11438,8,97,Legitimate

In [15]:
df_legitimate_following = pd.read_csv("/content/drive/MyDrive/social_honeypot_icwsm_2011/legitimate_users_followings.txt",
                  sep = "\t",
                  header = None,
                  names = ["UserID", "Series of number of Following"])

In [16]:
print(df_legitimate_following.shape)
df_legitimate_following.head()

(19276, 2)

   UserID                      Series of number of Following
0     614  664,664,664,665,665,665,665,665,665,665,665,66...
1    1038  378,378,378,378,378,378,378,378,378,378,378,37...
2    1437  59,59,59,59,59,59,59,59,59,59,59,59,59,59,59,5...
3    2615  262,262,262,262,262,262,262,262,262,262,264,26...
4    3148  5238,5238,5238,5238,5238,5238,5238,5238,5238,5...

In [17]:
df_legitimate_tweets = pd.read_csv("/content/drive/MyDrive/social_honeypot_icwsm_2011/legitimate_users_tweets.txt",
                  sep = "\t",
                  header = None,
                  names = ['UserID', 'TweetID', 'Tweet', 'CreatedAt'])

In [18]:
print(df_legitimate_tweets.shape)
df_legitimate_tweets.info()

(3246377, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3246377 entries, 0 to 3246376
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   UserID     int64
 1   TweetID    int64
 2   Tweet      object
 3   CreatedAt  object
dtypes: int64(2), object(2)
memory usage: 99.1+ MB

In [19]:
# df_users = df_polluter_users.merge(df_legitimate_users, on = "UserID", how = "inner")
df_users =  pd.concat([df_polluter_users, df_legitimate_users], axis = 0)
print(f"Shape(Users): {df_users.shape}")
print(f"Shape(Legitimate): {df_legitimate_users.shape}")
print(f"Shape(Polluter): {df_polluter_users.shape}")

Shape(Users): (41499, 9)
Shape(Legitimate): (19276, 9)
Shape(Polluter): (22223, 9)

In [20]:
df_users.head()

,UserID,Created at,Collected at,Number of followings,Number of followers,Number of Tweets,Length of Screen Name,LengthOfDescriptionInUserProfile,UserType
0,6301,2006-09-18 01:07:50,2010-01-17 20:38:25,3269,3071,861,8,132,Polluter
1,10836,2006-10-27 14:38:04,2010-06-18 03:35:34,1949,793,226,9,134,Polluter
2,10997,2006-10-29 09:50:38,2010-04-24 01:12:40,1119,9644,38674,12,158,Polluter
3,633293,2007-01-14 12:40:10,2010-01-24 11:59:38,2174,6029,12718,11,121,Polluter
4,717883,2007-01-27 22:14:18,2010-02-06 06:25:58,7731,7029,873,6,70,Polluter

In [21]:
df_users['UserType'].value_counts()

UserType
Polluter      22223
Legitimate    19276
Name: count, dtype: int64

In [22]:
df_following = pd.concat([df_polluter_following, df_legitimate_following], axis = 0)
print(f"Shape(Users Following): {df_following.shape}")
print(f"Shape(Legitimate Following): {df_legitimate_following.shape}")
print(f"Shape(Polluter Following): {df_polluter_following.shape}")

Shape(Users Following): (41499, 2)
Shape(Legitimate Following): (19276, 2)
Shape(Polluter Following): (22223, 2)

In [23]:
df_following.head()

   UserID                      Series of number of Following
0    6301  3269,3310,3339,3381,3351,3323,3305,3275,3245,3...
1   10836  1949,1963,1963,1963,1963,1963,1963,1962,1961,1...
2   10997  1119,1119,999,999,1050,1170,1071,799,799,799,8...
3  633293  2174,2651,2676,2674,2673,2673,2673,2672,2672,2...
4  717883  7731,7737,7737,7741,7741,7741,7740,7740,7749,7...

In [24]:
df_tweets = pd.concat([df_polluters_tweets, df_legitimate_tweets], axis = 0)
print(f"Shape(Tweets): {df_tweets.shape}")
print(f"Shape(Legitimate Tweets): {df_legitimate_tweets.shape}")
print(f"Shape(Polluters Tweets): {df_polluters_tweets.shape}")
df_tweets.sample(n = 10)

Shape(Tweets): (5580068, 4)
Shape(Legitimate Tweets): (3246377, 4)
Shape(Polluters Tweets): (2333691, 4)

,UserID,TweetID,Tweet,CreatedAt
1868996,44316496,5613868746,[1]cher [2]アンダーサスピション [3]みうらじゅん [4]中部オススメ [5]福...,2009-11-11 02:22:30
1661828,39385144,6035151608,RT @michaelianblack: Real quarterback name tha...,2009-11-24 18:50:01
1439708,95848771,15253498257,defeated England today by an innings and 24 ru...,2010-06-02 09:06:21
2837738,74394915,5615530604,@decadey candaaaaaa ced wkwk,2009-11-11 04:30:44
2064721,49848280,5957022479,"acordei, ainda com sono MAAS a fome predomina..",2009-11-22 16:03:24
252440,14566057,5549703703,درود بر همه صبح بخیر http://ff.im/baKve,2009-11-08 21:35:06
1015674,24772741,5450030530,@carolfsiqueira imagino que não seja algo muit...,2009-11-05 08:08:54
280566,19820683,2728228418,Fapturbo47 build 225 was upload in member area...,2009-07-19 17:12:08
1209127,84601032,6948542846,Blog Post Web Site Provides Highway Alerts: ...,2009-12-22 19:20:37
40626,13831152,8298434520,@cosminsky Ouch! Did you look into renting them?,2010-01-27 17:02:39

In [25]:
df_merged = df_users.merge(df_following, on = "UserID", how = "inner")
print(df_merged.shape)
df = df_merged.merge(df_tweets, on = "UserID", how = "inner")
df.shape

(41587, 10)

(5628131, 13)

In [26]:
# Git commit
# !git add .
# !git status
# !git commit - m "Git through colab, merge changes"
# !git push origin main

fatal: not a git repository (or any of the parent directories): .git
fatal: not a git repository (or any of the parent directories): .git
fatal: not a git repository (or any of the parent directories): .git

In [27]:
# !git add Twitter_User_Analysis.ipynb

fatal: not a git repository (or any of the parent directories): .git

In [28]:
# !git config user.email "rohitkhadka153@gmail.com"
# !git config user.name "Rohit Khadka"

fatal: not in a git directory
fatal: not in a git directory

In [29]:
# !git commit -m "Updated Twitter_User_Analysis.ipynb"
# !git push origin main

fatal: not a git repository (or any of the parent directories): .git
fatal: not a git repository (or any of the parent directories): .git

In [40]:
df.sample(n=10)

,UserID,Created at,Collected at,Number of followings,Number of followers,Number of Tweets,Length of Screen Name,LengthOfDescriptionInUserProfile,UserType,Series of number of Following,TweetID,Tweet,CreatedAt
5190430,73731689,2009-09-12 15:52:42,2009-11-13 11:20:56,1814,1824,5714,12,140,Legitimate,"2466,2465,2589,2585,2678,2559,2761,2761,2761,2...",7314114994,Importer and Wholesaler of Toys Stationery and...,2010-01-02 18:00:03
2465055,8254252,2007-08-17 16:05:34,2009-11-18 10:39:16,525,767,2820,13,113,Legitimate,"584,584,583,583,583,583,583,583,583,583,583,58...",5652959385,TAB: New Patent Application Suggests Apple Tab...,2009-11-12 10:27:31
2835067,16887668,2008-10-21 10:27:26,2009-11-18 13:21:07,116,189,9212,9,0,Legitimate,"156,156,156,156,156,156,156,156,156,156,156,15...",5777820957,@lidewij or tv series,2009-11-16 16:26:50
3085512,19864337,2009-02-01 10:21:21,2009-11-23 00:56:41,34,48,3725,8,65,Legitimate,"45,45,45,45,45,45,45,45,45,45,45,45,45,46,46,4...",5786144360,比嘉が学校帰りに皆で駄菓子屋寄って、ヨーグルト風味の例の何かを買って、さすが慧君あたりやっさ...,2009-11-16 21:44:31
2802534,16506411,2008-09-28 21:29:42,2009-11-13 09:12:45,46,34,210,9,0,Legitimate,"117,117,117,117,117,118,118,118,121,121,121,12...",4114042241,"khotbahnya rada aneh""sholat bersifat sunah,jd ...",2009-09-19 19:57:08
346327,21980131,2009-02-25 23:51:09,2010-03-04 04:31:52,42213,41140,738,8,134,Polluter,"42213,42554,42551,42550,42548,42546",8561701072,@Crow74 @dan-maran reset the hosts file a coup...,2010-02-02 16:50:44
289887,20017076,2009-02-03 18:34:44,2010-02-17 14:03:28,627,5327,226,10,0,Polluter,"627,774,774,774,778,779,780,780,780,780,780,78...",3942186198,"Filme ""Up – Altas Aventuras"" atualizado!, agor...",2009-09-12 17:01:07
3335915,24002442,2009-03-12 13:42:09,2009-11-14 06:15:41,50,41,574,4,160,Legitimate,"98,98,98,98,98,97,97,97,97,97,97,97,97,97,97,9...",5178232073,"#lettertomyex I recorded a song about u, it's ...",2009-10-26 12:38:56
4529430,52796888,2009-07-01 12:52:55,2009-11-13 04:48:18,78,93,7150,9,94,Legitimate,"134,134,134,134,134,134,134,134,134,134,134,13...",5675106424,エルが傘持ってくれるんだけど、ユルギスの身長には高過ぎて傘意味なしずぶ濡れ(・ｗ・`),2009-11-13 02:53:55
903716,62498418,2009-08-03 07:02:17,2010-01-07 02:02:31,160,129,266,9,0,Polluter,"160,160,160,160,160,160,163,162,162,162,162,16...",6170748829,Attractions in thailand and news http://thai-a...,2009-11-29 08:27:34

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5628131 entries, 0 to 5628130
Data columns (total 13 columns):
 #   Column                            Dtype
---  ------                            -----
 0   UserID                            int64
 1   Created at                        object
 2   Collected at                      object
 3   Number of followings              int64
 4   Number of followers               int64
 5   Number of Tweets                  int64
 6   Length of Screen Name             int64
 7   LengthOfDescriptionInUserProfile  int64
 8   UserType                          object
 9   Series of number of Following     object
 10  TweetID                           int64
 11  Tweet                             object
 12  CreatedAt                         object
dtypes: int64(7), object(6)
memory usage: 558.2+ MB

In [37]:
uniqueIDs = df['UserID'].unique()
uniqueIDs

array([    6301,    10836,    10997, ..., 93419256, 93426370, 93442002])

In [39]:
df.nunique()

UserID                                39853
Created at                            39828
Collected at                          39857
Number of followings                   5428
Number of followers                    5561
Number of Tweets                       7404
Length of Screen Name                    14
LengthOfDescriptionInUserProfile        176
UserType                                  2
Series of number of Following         36998
TweetID                             5579357
Tweet                               5138904
CreatedAt                           4232660
dtype: int64

In [38]:
df.isnull().sum()

UserID                              0
Created at                          0
Collected at                        0
Number of followings                0
Number of followers                 0
Number of Tweets                    0
Length of Screen Name               0
LengthOfDescriptionInUserProfile    0
UserType                            0
Series of number of Following       0
TweetID                             0
Tweet                               8
CreatedAt                           0
dtype: int64

In [43]:
df = df.dropna()

In [44]:
df.isnull().sum()

UserID                              0
Created at                          0
Collected at                        0
Number of followings                0
Number of followers                 0
Number of Tweets                    0
Length of Screen Name               0
LengthOfDescriptionInUserProfile    0
UserType                            0
Series of number of Following       0
TweetID                             0
Tweet                               0
CreatedAt                           0
dtype: int64

In [47]:
df["Created at"] = pd.to_datetime(df["Created at"])
df["Collected at"] = pd.to_datetime(df["Collected at"])
df["Account Age"] = df["Collected at"] - df["Created at"]
#In days
df["Account Age"] = df["Account Age"].dt.days
df["Account Age"].sample(n = 10)

3456644    236
3065584    304
120728     514
2465071    822
2098583     34
1263759     81
3978000    196
3218844    269
1311954     53
3548116    230
Name: Account Age, dtype: int64

In [49]:
X = df.drop(columns = ["CreatedAt", "UserType", "UserID", "Created at", "Collected at"])
X.sample(n = 10)

,Number of followings,Number of followers,Number of Tweets,Length of Screen Name,LengthOfDescriptionInUserProfile,Series of number of Following,TweetID,Tweet,Account Age
3483400,75,841,637,8,156,"119,120,120,120,120,120,120,120,120,120,120,12...",4533647315,Update: Fan Donation: Scan - WWEShop Holiday 2...,235
4744582,27,9,30,15,0,"29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,2...",6069336508,I wanna get bombed of God´s gloryyyyy!,127
2660322,113,83,228,9,0,"153,153,153,153,153,153,153,153,153,153,153,15...",5960005209,Vendo tv e procurando o que comer..,532
4190742,124,41,103,12,22,"263,263,263,263,263,263,263,263,263,263,263,26...",3545598614,got the new bb tour _ luv it,170
3386251,121,50,84,12,0,"175,175,175,175,175,175,175,175,175,175,175,17...",5486840484,Happy Valley tomorrow to watch PSU put the bea...,255
3616214,28,85,385,6,39,"39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,3...",5749256590,Yay i got my mino Hd the quality is amazing ma...,223
940169,21267,20650,2581,11,86,"21267,21266,21270,21266,21267,21266,21263,2126...",17286827821,Find the shortest route to the Cullen House an...,320
2393080,154,649,14132,10,140,"182,182,182,182,182,182,182,182,182,182,182,18...",5489803473,RT @miss_tj: RT @_Kayze_ I'm gettin sick! Not ...,953
4159223,5549,5706,1583,12,70,"6256,6255,6255,6255,6255,6261,6261,6261,6260,6...",5968738817,Google AdwordsArticles: http://url4.eu/oGcB,181
4665482,53,41,219,14,69,"152,152,152,152,152,152,152,152,152,152,152,15...",3856234679,Don't stop trending #noduh hold it in this place!,127

In [52]:
y = df['UserType']
y.sample(n = 10)

4904369    Legitimate
2151662      Polluter
2206786      Polluter
3110330    Legitimate
264799       Polluter
951206       Polluter
1395372      Polluter
4603987    Legitimate
2010564      Polluter
4485011    Legitimate
Name: UserType, dtype: object